<h1 class="titulo_legend">Listado de amigos </h1>
  <table class="titulo_label" id="producttable">
              <thead>
                <tr>
                  <td>UserID</td>
                  <td>Nombre</td>
                  <td>Email</td>
                  <td>Foto file</td>
                  <td>ClientMail</td>
                </tr>
              </thead>
              <tbody>
                <!-- existing data could optionally be included here -->
              </tbody>
            </table>

            <template id="productrow">
              <tr>
                <td class="titulo_label"></td>
                <td></td>
                <td></td>
                <td><img class="Foto"></td>
                <td></td>
                <td ><a class='boton_update' >Modificar</a></td>
                <td><a class='boton_delete' >Eliminar</a></td>
              </tr>
            </template>
