* {
  box-sizing: border-box;
}

/* Creo 7 columnes iguals */
.column {
  float: left;
  width: 14%;
  padding: 5px;
}

/* Eliminar els flotants despres de les columnes */

.row:after {
  content: "";
  display: table;
  clear: both;
}


/* En dispositius de 992px passem de 7 columnes a tan sols 2 */
@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

/* En dispositius menors de 600px passem de 7 columnes a 1 sola */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.Title {
               text-align: center;
               font-size: 40px;
               font-weight: bold;
           }
           .Foto {
               width: 140px;
               height: 120px;
               border-radius: 5px;
               border: 2px white;
           }
           
           .titulo_legend{
              font-family: "Times New Roman", Times, serif;
              font-size: 35px;
              font-style: oblique;
            }

            input:focus {
              border: white 3px dotted;
              padding: 3px;
            }
 
            input:active {
              border: 2px solid #2F4F4F;
              padding: 2px
            }

            .titulo_label {
              font-family: "Times New Roman", Times, serif;
              font-size: 25px;
              font-weight: bold;
            }
           
           .selector_imagen{
                font-family: helvetica;
                font-weight: 200;
                font-size: 20px;
                font-style: italic;
                color: #5F9EA0;
              }

           .boton_update{
               padding: 3px !important ;
                padding-left: 10px !important ;
                padding-right: 10px !important ;
                font-family: helvetica !important ;
                font-size: 25px !important ;
                font-style: italic !important ;
                color: black !important ;
                background-color: #6B8B23 !important ;
                border-radius: 10px !important ;
                border: 2px black !important ;
           }
           
           .boton_delete{
               padding: 3px !important ;
                padding-left: 10px !important ;
                padding-right: 10px !important ;
                font-family: helvetica !important ;
                font-size: 25px !important ;
                font-style: italic !important ;
                color: black !important ;
                background-color: #800000 !important ;
                border-radius: 10px !important ;
                border: 2px black !important ;
           }
           .boton_undo{
                padding: 3px !important ;
                padding-left: 10px !important ;
                padding-right: 10px !important ;
                font-family: helvetica !important ;
                font-size: 25px !important ;
                font-style: italic !important ;
                color: black !important ;
                background-color: white !important ;
                border-radius: 10px !important ;
                border: 2px black !important ;
              }
              .boton_undo:hover{
                opacity: 0.9 !important ;
              }
           td{
              font-family: "Arial", Helvetica, sans-serif;
              font-size: 20px;
              font-weight: bold;
           }
           
